.sidebar {
  min-height: 100vh;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f0f4f9;
  padding: 25px 15px;
  /* min-width: 10vw; */
}

.sidebar img {
  width: 20px;
}

.sidebar .menu {
  display: block;
  margin-left: 10px;
  cursor: pointer;
}

.sidebar .top{
  width: 100%;
}

.sidebar .new-chat {
  width: 100%;
  margin-top: 40px;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  padding: 6px 10px;
  background-color: #e6eaf1;
  border-radius: 50px;
  font-size: 14px;
  color: grey;
}

.new-chat .chat-icons {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.sidebar .chat-input-container {
  width: 100%;
  padding: 4px 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
  background: #fff;
  color: #282828;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.chat-input-container .submit-btn {
  background: none;
  border: none;
  cursor: pointer;
}

.sidebar .chat-input {
  border: none;
  outline: none;
  width: 100%;
}

.sidebar .recent {
  display: flex;
  flex-direction: column;
}

.sidebar .recent-title {
  margin-top: 30px;
  margin-bottom: 20px;
}

.sidebar .bottom-item {
  display: flex;
  align-items: start;
  gap: 10px;
  padding: 10px;
  padding-right: 40px;
  border-radius: 10px;
  color: #282828;
  cursor: pointer;
  transition: background 0.2s, box-shadow 0.2s;
}

.sidebar .bottom-item:hover {
  background-color: #e2e6eb;
  scale: 1.02;
}




.notification {
  position: fixed;
  left: 50%;
  bottom: 40px;
  transform: translateX(-50%);
  background: rgba(30, 32, 36, 0.649);
  color: #e6f4ea;
  padding: 14px 32px;
  border-radius: 10px;
  font-weight: 500;
  font-size: 1rem;
  box-shadow: 0 6px 32px rgba(30, 32, 36, 0.18);
  z-index: 1000;
  backdrop-filter: blur(4px);
  letter-spacing: 0.01em;
  display: flex;
  align-items: center;
  gap: 10px;
  min-width: 220px;
  justify-content: center;
  animation: opacity 1.3s;
}

@keyframes opacity {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}

.sidebar .bottom {
  display: flex;
  flex-direction: column;
}

.sidebar .bottom-item {
  padding-right: 10px;
  cursor: pointer;
}
