.recent-entry-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  padding: 10px;
  /* padding-right: 40px; */
  border-radius: 10px;
  color: #282828;
  cursor: pointer;
  transition: background 0.2s, box-shadow 0.2s;
}

.recent-entry-container .chat-delete {
  display: none;
}

/* .recent-entry-container:hover .chat-delete {
} */

.chat-delete:hover {
  color: red;
  /* padding: 2px; */
  border-radius: 4px;
  /* background-color: #bababa; */
  overflow: hidden;
}

.recent-entry {
  display: flex;
  align-items: center;
  gap: 10px;
  /* padding: 10px; */
  text-transform: capitalize;
  padding-right: 40px;
}


.recent-entry-container.selected {       
  background: linear-gradient(90deg, #e6eaf1 60%, #d1d8e6 100%);
  box-shadow: 0 2px 8px rgba(76, 0, 180, 0.08);
  color: #3c009d;
  font-weight: 600;
}

.recent-entry-container:hover {
  background-color: #e2e6eb;
  /* padding-right: 10px; */
  scale: 1.02;
}

.recent-entry-container.selected .chat-delete {
    display: flex;
}

.recent-entry img {
  width: 1.8vw;
  opacity: 0.8;
  /* border-radius: 12px;
  margin-right: 10px; */
}
