.settings-container {
  width: 100vw;
  margin: 0 auto;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 2px 16px rgba(76,0,180,0.08);
  padding: 32px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;

}

.settings-container h2 {
  margin: 0 0 12px 0;
  color: #3c009d;
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
}

.setting-item {
  display: flex;
  flex-direction: column;
/* justify-content: center;
align-items: center; */
  gap: 8px;
  width: 50vw;

}

.setting-item label {
  font-size: 1rem;
  color: #585858;
  font-weight: 500;
}

.setting-item input[type="range"] {
  width: 100%;
  accent-color: #4b90ff;
}

.temp-value {
  font-size: 1rem;
  color: #4b90ff;
  font-weight: 600;
  align-self: flex-end;
}

@media (max-width: 600px) {
  .settings-container {
    padding: 18px 8px;
    max-width: 98vw;
  }
  .setting-item label {
    font-size: 0.95rem;
  }
  .temp-value {
    font-size: 0.95rem;
  }
}
